.avatar-circle {
  width: 100px;
  height: 100px;
  background-color: #f8f9fa;
  border-radius: 50%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dee2e6;
}

.avatar-circle i {
  font-size: 60px;
  color: #6c757d;
}

.card-header h4 {
  font-weight: 500;
}