/* Estilos del componente DetalleMateriaComponente */
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.card-header {
  font-weight: 500;
}

.table th {
  font-weight: 600;
  background-color: #f8f9fa;
}

strong {
  font-weight: 600;
}
